.all{
    margin: auto;
    width: 800px;
    text-align: center;
    
    
    
}
body{
    background-image: url('img/cat.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Piazzolla', serif;
    
    
}
.hero{
    width: auto;
    height: 200px;
}

.center{
    font-size: 50px;
    margin: -150px;
}
p{
    font-size: 18px;
    color:rgb(192, 192, 192);
}
h1{
    font-size: 80px;
    font-weight: bold;
    color: white;
}
label{
    color: white;
    font-weight: 900;
}